!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'initial-scale=1, maximum-scale=1' }
    %title GRE Flashcards

    %link{ href: '/style.css', rel: 'stylesheet' }

  %body
    = yield

    %script{ src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' }

:coffeescript
  $('#flip').on 'click', ()->
    $('dt').toggle()
    $('dd').toggle()
