body {
  background: #f5f7f9;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.flashcard {
  display: none;
  height: 100%;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;

  h3, p {
    font-size: 3em;
  }

  p {
    display: none;
  }

  &.active {
    display: block;
  }
}

#flip, #next {
  background: #4C5259;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  left: 0;
  margin: 0 auto;
  padding: 30px 0;
  position: fixed;
  right: 0;
  text-align: center;
  width: 100%;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  &:hover {
    background: darken(#4c5259, 10%);
  }
}

#next {
  background: #bdc3c7;
  bottom: 90px;

  &:hover {
    background: darken(#bdc3c7, 10%);
  }
}
