body {
  background: #f5f7f9;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.flashcard {
  display: none;
  height: 100%;
  margin-top: 100px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;

  h3 { font-size: 2.25em; }

  p {
    display: none;
    font-size: 1.75em;
  }

  &.active { display: block; }
}

#flip, #next {
  background: #4C5259;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.5em;
  height: 60px;
  left: 0;
  line-height: 60px;
  margin: 0 auto;
  position: fixed;
  right: 0;
  text-align: center;
  width: 100%;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  &:hover { background: darken(#4c5259, 10%); }
}

#next {
  background: #fff;
  color: #4c5259;
  box-shadow: 0 0 5px #bdc3c7;
  top: 0;

  &:hover { background: #efefef; }
}
